<footer class="footer" id="footer" >
       <div class="footer-list">
          <div class="footer-data">
              <a href=""><img src="img/house.png"></a>
              <div class="footer-data-social">
                  <a href=""><i class='bx bxl-facebook-circle'></i></a>
                  <a href=""><i class='bx bxl-instagram' ></i></a>
                  <a href=""><i class='bx bxl-twitter' ></i></a>
                  <a href=""><i class='bx bxl-youtube' ></i></a>
              </div>
              <div class="dowload">
                   <img src="img/google-play.png" alt="">
                   <img src="img/app-store.png" alt="">
              </div>
          </div>

       

          <div class="footer-data">
            <h2>Về Khang-education</h2>
            <p>Blog</p>
            <p>Liên hệ chúng tôi</p>
            <p>Trung tâm hỗ trợ</p>
            <p>Cơ hội việc làm</p>
       </div>

       <div class="footer-data">
           <h2>Legal</h2>
           <p>Term Of Policy</p>
           <p>Privacy</p>
           <p>Accessibility Policy</p>
           <p>Trademark policy</p>
      </div>
  </div>
   <div class="copy">
       <p>&copy; All Rights Reserved</p>
       <span>Created Web By 🧡Trương Minh Khang 🧡</span>
   </div>
     </footer>