<div class="container main-about">
  <div class="App_withSidebar__8lwIi"><div
      class="App_withSidebarContent__o4VlQ"
    ><section
        class="index-module_grid__1q71E index-module_fullWidth__3X-6x"
        style="max-width: 1920px;"
      ><div class="DefaultLayout_container__NgAo7"><div
            class="DefaultLayout_container-top__l5XfT"
          ><h1 class="DefaultLayout_heading__AvBHu">Thông tin</h1><div
              class="MarkdownParser_wrapper__JYN63 DefaultLayout_desc__rr0iE"
               style="font-size:1.5rem; line-height:1.6;" 
            ><p>Để bắt đầu một cách thuận lợi, bạn nên tập trung vào một lộ
                trình học. Ví dụ: Để đi làm với vị trí “Lập trình viên
                Front-end” bạn nên tập trung vào lộ trình “Front-end”.</p>
            </div></div><div class="container-body"><div
              class="LearningPathsList_content__+7GMN"
            ><div class="LearningPathItem_wrapper__H9uQB"><div
                  class="LearningPathItem_body__usZtM"
                ><div class="LearningPathItem_info__gjteP"><h2
                      class="LearningPathItem_title__z0X7F"
                    ><a href="/about"> 
                        Front-end</a></h2><p
                      class="LearningPathItem_desc__EoPKD"
                    >Lập trình viên Front-end là người xây dựng ra giao diện
                      websites. Trong phần này Khang-Education sẽ chia sẻ cho bạn lộ trình để
                      trở thành lập trình viên Front-end nhé.</p></div><div
                    class="LearningPathItem_thumb-wrap__BUF9R"
                  ><a
                      class="LearningPathItem_thumb-round__Lvoe8"
                      href="/about"
                    ><img
                        class="LearningPathItem_thumb__sFsG3"
                        src="https://files.fullstack.edu.vn/f8-prod/learning-paths/2/61a0439062b82.png"
                        alt="Lộ trình học Front-end"
                      /></a></div></div><div
                  class="LearningPathItem_cta__2-Sdl"
                ><div
                    class="CircularProgressBar_pie-wrapper__ga0xC progress-45 style-2 CourseStep_progress__i9Yn1"
                    style="--size:40px; --progress:0; --bar-width:2px; --shadow-bg-hover-color:#d4d4d4;"
                  ><div class="CircularProgressBar_pie__pROMB"><div
                        class="CircularProgressBar_left-side__Q9ngf CircularProgressBar_half-circle__07yig"
                      ></div></div><div
                      class="CircularProgressBar_shadow__N5Vl-"
                    ></div><div class="CircularProgressBar_body__BYOBo"><a
                        class="CourseStep_wrapper__fcAQO"
                        href="/about"
                        style="--progress:grayscale(100%);"
                      ><img
                          src="https://files.fullstack.edu.vn/f8-prod/courses/7/6200b81f52d83.png"
                          alt="Kiến Thức Nhập Môn IT"
                        /></a></div></div><div
                    class="CircularProgressBar_pie-wrapper__ga0xC progress-45 style-2 CourseStep_progress__i9Yn1"
                    style="--size:40px; --progress:0; --bar-width:2px; --shadow-bg-hover-color:#d4d4d4;"
                  ><div class="CircularProgressBar_pie__pROMB"><div
                        class="CircularProgressBar_left-side__Q9ngf CircularProgressBar_half-circle__07yig"
                      ></div></div><div
                      class="CircularProgressBar_shadow__N5Vl-"
                    ></div><div class="CircularProgressBar_body__BYOBo"><a
                        class="CourseStep_wrapper__fcAQO"
                        href="/about"
                        style="--progress:grayscale(100%);"
                      ><img
                          src="https://files.fullstack.edu.vn/f8-prod/courses/15/62385d6c63dfa.png"
                          alt="HTML CSS Pro"
                        /></a></div></div><div
                    class="CircularProgressBar_pie-wrapper__ga0xC progress-45 style-2 CourseStep_progress__i9Yn1"
                    style="--size:40px; --progress:0; --bar-width:2px; --shadow-bg-hover-color:#d4d4d4;"
                  ><div class="CircularProgressBar_pie__pROMB"><div
                        class="CircularProgressBar_left-side__Q9ngf CircularProgressBar_half-circle__07yig"
                      ></div></div><div
                      class="CircularProgressBar_shadow__N5Vl-"
                    ></div><div class="CircularProgressBar_body__BYOBo"><a
                        class="CourseStep_wrapper__fcAQO"
                        href="/about"
                        style="--progress:grayscale(100%);"
                      ><img
                          src="https://files.fullstack.edu.vn/f8-prod/courses/3/6200afe1240bb.png"
                          alt="Responsive Với Grid System"
                        /></a></div></div><div
                    class="CircularProgressBar_pie-wrapper__ga0xC progress-45 style-2 CourseStep_progress__i9Yn1"
                    style="--size:40px; --progress:94; --bar-width:2px; --shadow-bg-hover-color:#d4d4d4;"
                  ><div
                      class="CircularProgressBar_pie__pROMB CircularProgressBar_over-half__Z52L9"
                    ><div
                        class="CircularProgressBar_left-side__Q9ngf CircularProgressBar_half-circle__07yig"
                      ></div><div
                        class="CircularProgressBar_right-side__Bm2JN CircularProgressBar_half-circle__07yig"
                      ></div></div><div
                      class="CircularProgressBar_shadow__N5Vl-"
                    ></div><div class="CircularProgressBar_body__BYOBo"><a
                        class="CourseStep_wrapper__fcAQO"
                        href="/about"
                        style="--progress:grayscale(6%);"
                      ><img
                          src="https://files.fullstack.edu.vn/f8-prod/courses/1/6200ad9d8a2d8.png"
                          alt="Lập Trình JavaScript Cơ Bản"
                        /></a></div></div><div
                    class="CircularProgressBar_pie-wrapper__ga0xC progress-45 style-2 CourseStep_progress__i9Yn1"
                    style="--size:40px; --progress:0; --bar-width:2px; --shadow-bg-hover-color:#d4d4d4;"
                  ><div class="CircularProgressBar_pie__pROMB"><div
                        class="CircularProgressBar_left-side__Q9ngf CircularProgressBar_half-circle__07yig"
                      ></div></div><div
                      class="CircularProgressBar_shadow__N5Vl-"
                    ></div><div class="CircularProgressBar_body__BYOBo"><a
                        class="CourseStep_wrapper__fcAQO"
                        href="/about"
                        style="--progress:grayscale(100%);"
                      ><img
                          src="https://files.fullstack.edu.vn/f8-prod/courses/12/6200af2620118.png"
                          alt="Lập Trình JavaScript Nâng Cao"
                        /></a></div></div><div
                    class="CircularProgressBar_pie-wrapper__ga0xC progress-45 style-2 CourseStep_progress__i9Yn1"
                    style="--size:40px; --progress:0; --bar-width:2px; --shadow-bg-hover-color:#d4d4d4;"
                  ><div class="CircularProgressBar_pie__pROMB"><div
                        class="CircularProgressBar_left-side__Q9ngf CircularProgressBar_half-circle__07yig"
                      ></div></div><div
                      class="CircularProgressBar_shadow__N5Vl-"
                    ></div><div class="CircularProgressBar_body__BYOBo"><a
                        class="CourseStep_wrapper__fcAQO"
                        href="/about"
                        style="--progress:grayscale(100%);"
                      ><img
                          src="https://files.fullstack.edu.vn/f8-prod/courses/14/624faac2ee23d.png"
                          alt="Làm việc với Terminal &amp; Ubuntu"
                        /></a></div></div><div
                    class="CircularProgressBar_pie-wrapper__ga0xC progress-45 style-2 CourseStep_progress__i9Yn1"
                    style="--size:40px; --progress:3; --bar-width:2px; --shadow-bg-hover-color:#d4d4d4;"
                  ><div class="CircularProgressBar_pie__pROMB"><div
                        class="CircularProgressBar_left-side__Q9ngf CircularProgressBar_half-circle__07yig"
                      ></div></div><div
                      class="CircularProgressBar_shadow__N5Vl-"
                    ></div><div class="CircularProgressBar_body__BYOBo"><a
                        class="CourseStep_wrapper__fcAQO"
                        href="/about"
                        style="--progress:grayscale(97%);"
                      ><img
                          src="https://files.fullstack.edu.vn/f8-prod/courses/13/6200af9262b30.png"
                          alt="Xây Dựng Website với ReactJS"
                        /></a></div></div></div><div><a
                    class="Button_btn__RW1e2 Button_primary__86yfm LearningPathItem_view-detail__8myxm"
                    href="/about"
                  >Xem chi tiết</a></div></div><div
                class="LearningPathItem_wrapper__H9uQB"
              ><div class="LearningPathItem_body__usZtM"><div
                    class="LearningPathItem_info__gjteP"
                  ><h2 class="LearningPathItem_title__z0X7F"><a
                        href="/about"
                      > Back-end</a></h2><p
                      class="LearningPathItem_desc__EoPKD"
                    >Trái với Front-end thì lập trình viên Back-end là người làm
                      việc với dữ liệu, công việc thường nặng tính logic hơn.
                      Chúng ta sẽ cùng tìm hiểu thêm về lộ trình học Back-end
                      nhé.</p></div><div
                    class="LearningPathItem_thumb-wrap__BUF9R"
                  ><a
                      class="LearningPathItem_thumb-round__Lvoe8"
                      href="/about"
                    ><img
                        class="LearningPathItem_thumb__sFsG3"
                        src="https://files.fullstack.edu.vn/f8-prod/learning-paths/3/61a0439cc779b.png"
                        alt="Lộ trình học Back-end"
                      /></a></div></div><div
                  class="LearningPathItem_cta__2-Sdl"
                ><div
                    class="CircularProgressBar_pie-wrapper__ga0xC progress-45 style-2 CourseStep_progress__i9Yn1"
                    style="--size:40px; --progress:0; --bar-width:2px; --shadow-bg-hover-color:#d4d4d4;"
                  ><div class="CircularProgressBar_pie__pROMB"><div
                        class="CircularProgressBar_left-side__Q9ngf CircularProgressBar_half-circle__07yig"
                      ></div></div><div
                      class="CircularProgressBar_shadow__N5Vl-"
                    ></div><div class="CircularProgressBar_body__BYOBo"><a
                        class="CourseStep_wrapper__fcAQO"
                        href="/about"
                        style="--progress:grayscale(100%);"
                      ><img
                          src="https://files.fullstack.edu.vn/f8-prod/courses/7/6200b81f52d83.png"
                          alt="Kiến Thức Nhập Môn IT"
                        /></a></div></div><div
                    class="CircularProgressBar_pie-wrapper__ga0xC progress-45 style-2 CourseStep_progress__i9Yn1"
                    style="--size:40px; --progress:94; --bar-width:2px; --shadow-bg-hover-color:#d4d4d4;"
                  ><div
                      class="CircularProgressBar_pie__pROMB CircularProgressBar_over-half__Z52L9"
                    ><div
                        class="CircularProgressBar_left-side__Q9ngf CircularProgressBar_half-circle__07yig"
                      ></div><div
                        class="CircularProgressBar_right-side__Bm2JN CircularProgressBar_half-circle__07yig"
                      ></div></div><div
                      class="CircularProgressBar_shadow__N5Vl-"
                    ></div><div class="CircularProgressBar_body__BYOBo"><a
                        class="CourseStep_wrapper__fcAQO"
                        href="/about"
                        style="--progress:grayscale(6%);"
                      ><img
                          src="https://files.fullstack.edu.vn/f8-prod/courses/1/6200ad9d8a2d8.png"
                          alt="Lập Trình JavaScript Cơ Bản"
                        /></a></div></div><div
                    class="CircularProgressBar_pie-wrapper__ga0xC progress-45 style-2 CourseStep_progress__i9Yn1"
                    style="--size:40px; --progress:0; --bar-width:2px; --shadow-bg-hover-color:#d4d4d4;"
                  ><div class="CircularProgressBar_pie__pROMB"><div
                        class="CircularProgressBar_left-side__Q9ngf CircularProgressBar_half-circle__07yig"
                      ></div></div><div
                      class="CircularProgressBar_shadow__N5Vl-"
                    ></div><div class="CircularProgressBar_body__BYOBo"><a
                        class="CourseStep_wrapper__fcAQO"
                        href="/about"
                        style="--progress:grayscale(100%);"
                      ><img
                          src="https://files.fullstack.edu.vn/f8-prod/courses/12/6200af2620118.png"
                          alt="Lập Trình JavaScript Nâng Cao"
                        /></a></div></div><div
                    class="CircularProgressBar_pie-wrapper__ga0xC progress-45 style-2 CourseStep_progress__i9Yn1"
                    style="--size:40px; --progress:0; --bar-width:2px; --shadow-bg-hover-color:#d4d4d4;"
                  ><div class="CircularProgressBar_pie__pROMB"><div
                        class="CircularProgressBar_left-side__Q9ngf CircularProgressBar_half-circle__07yig"
                      ></div></div><div
                      class="CircularProgressBar_shadow__N5Vl-"
                    ></div><div class="CircularProgressBar_body__BYOBo"><a
                        class="CourseStep_wrapper__fcAQO"
                        href="/about"
                        style="--progress:grayscale(100%);"
                      ><img
                          src="https://files.fullstack.edu.vn/f8-prod/courses/14/624faac2ee23d.png"
                          alt="Làm việc với Terminal &amp; Ubuntu"
                        /></a></div></div><div
                    class="CircularProgressBar_pie-wrapper__ga0xC progress-45 style-2 CourseStep_progress__i9Yn1"
                    style="--size:40px; --progress:94; --bar-width:2px; --shadow-bg-hover-color:#d4d4d4;"
                  ><div
                      class="CircularProgressBar_pie__pROMB CircularProgressBar_over-half__Z52L9"
                    ><div
                        class="CircularProgressBar_left-side__Q9ngf CircularProgressBar_half-circle__07yig"
                      ></div><div
                        class="CircularProgressBar_right-side__Bm2JN CircularProgressBar_half-circle__07yig"
                      ></div></div><div
                      class="CircularProgressBar_shadow__N5Vl-"
                    ></div><div class="CircularProgressBar_body__BYOBo"><a
                        class="CourseStep_wrapper__fcAQO"
                        href="/about"
                        style="--progress:grayscale(6%);"
                      ><img
                          src="https://files.fullstack.edu.vn/f8-prod/courses/6/6200afb926038.png"
                          alt="Node &amp; ExpressJS"
                        /></a></div></div><div
                    class="CircularProgressBar_pie-wrapper__ga0xC progress-45 style-2 CourseStep_progress__i9Yn1"
                    style="--size:40px; --progress:0; --bar-width:2px; --shadow-bg-hover-color:#d4d4d4;"
                  ><div class="CircularProgressBar_pie__pROMB"><div
                        class="CircularProgressBar_left-side__Q9ngf CircularProgressBar_half-circle__07yig"
                      ></div></div><div
                      class="CircularProgressBar_shadow__N5Vl-"
                    ></div><div class="CircularProgressBar_body__BYOBo"><a
                        class="CourseStep_wrapper__fcAQO"
                        href="/about"
                        style="--progress:grayscale(100%);"
                      ><img
                          src="https://files.fullstack.edu.vn/f8-prod/courses/15/62385d6c63dfa.png"
                          alt="HTML CSS Pro"
                        /></a></div></div></div><div><a
                    class="Button_btn__RW1e2 Button_primary__86yfm LearningPathItem_view-detail__8myxm"
                    href="/about"
                  >Xem chi tiết</a></div></div></div><div
              class="SuggestionBox_wrapper__1wl-2"
            ><div class="SuggestionBox_info__etqmd"><h2>Tham gia cộng đồng học
                  viên Khang-Education trên Facebook</h2><p>Hàng nghìn người
                  khác đang học lộ trình giống như bạn. Hãy tham gia hỏi đáp,
                  chia sẻ và hỗ trợ nhau trong quá trình học nhé.</p><a
                  class="SuggestionBox_cta__f4eTC"
                  target="_blank"
                  href="https://www.facebook.com/groups/f8official"
                  rel="noopener"
                >Tham gia nhóm</a></div><div
                class="SuggestionBox_image__xlDiL"
              ><img
                  src="https://fullstack.edu.vn/static/media/fb-group-cards.4bd525b1b8baf7b1e5a2.png"
                  alt="Học lập trình web (Khang-Education.edu.vn)"
                /></div></div><div
              class="LearningPathsList_google-ads__YHUtB"
            ><div class=""><ins
                  class="adsbygoogle"
                  data-ad-client="ca-pub-8534763220079569"
                  data-ad-slot="5151498521"
                  data-ad-format="horizontal"
                  data-full-width-responsive="true"
                  style="display: block;"
                ></ins></div></div></div></div></section></div></div>

</div>