<div class="container main-blog">

<div class="DefaultLayout_container-top__l5XfT"><h1
    class="DefaultLayout_heading__AvBHu"
  >Bài viết nổi bật</h1><div
    class="MarkdownParser_wrapper__JYN63 DefaultLayout_desc__rr0iE"
    style="--font-size:1.5rem; --line-height:1.6;"
  ><p>Tổng hợp các bài viết chia sẻ về kinh nghiệm tự học lập trình online và
      các kỹ thuật lập trình web.</p>
  </div></div>


<div class="container-body"><section class="index-module_row__-AHgh"><section
      class="index-module_col__2EQm9 index-module_c-12__u7UXF index-module_m-12__2CxUL index-module_l-8__yebHm"
    ><div class="Blog_leftLayout__Kuc0z"><div
          class="TopicsList_wrapper__lizCe"
        ><h3>Các chủ đề được đề xuất</h3><ul
            class="TopicsList_topics__EU6iM"
          ><li><a href="/blog/topic/front-end-mobile-apps">Front-end / Mobile
                apps</a></li><li><a href="/blog/topic/back-end-devops">Back-end
                / Devops</a></li><li><a href="/blog/topic/ui-ux-design">UI / UX
                / Design</a></li><li><a
                href="/blog/topic/others"
              >Others</a></li></ul></div><div><div
            class="PostItem_wrapper__5s6Lk"
          ><div class="PostItem_header__kJhep"><div
                class="PostItem_author__-CiNM"
              ><a href="/@minhduckieu"><img
                    src="https://fullstack.edu.vn/static/media/fallback-avatar.155cdb2376c5d99ea151.jpg"
                    alt="Minh Đức Kiều"
                  /></a><a     href="/blog"><span>Minh Đức Kiều</span></a></div><div
                class="PostItem_actions__eWV5m"
              ><div
                  class="Bookmark_toggleBtn__sSS-2 PostItem_optionBtn__h8ALw"
                ><svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="far"
                    data-icon="bookmark"
                    class="svg-inline--fa fa-bookmark"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 384 512"
                  ><path
                      fill="currentColor"
                      d="M336 0h-288C21.49 0 0 21.49 0 48v431.9c0 24.7 26.79 40.08 48.12 27.64L192 423.6l143.9 83.93C357.2 519.1 384 504.6 384 479.9V48C384 21.49 362.5 0 336 0zM336 452L192 368l-144 84V54C48 50.63 50.63 48 53.1 48h276C333.4 48 336 50.63 336 54V452z"
                    ></path></svg></div><div
                  class="PostItem_optionBtn__h8ALw"
                  aria-expanded="false"
                ><svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="ellipsis"
                    class="svg-inline--fa fa-ellipsis"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512"
                  ><path
                      fill="currentColor"
                      d="M120 256C120 286.9 94.93 312 64 312C33.07 312 8 286.9 8 256C8 225.1 33.07 200 64 200C94.93 200 120 225.1 120 256zM280 256C280 286.9 254.9 312 224 312C193.1 312 168 286.9 168 256C168 225.1 193.1 200 224 200C254.9 200 280 225.1 280 256zM328 256C328 225.1 353.1 200 384 200C414.9 200 440 225.1 440 256C440 286.9 414.9 312 384 312C353.1 312 328 286.9 328 256z"
                    ></path></svg></div></div></div><div
              class="PostItem_body__Fnfo-"
            ><div class="PostItem_info__DZr39"><a
                  {{!-- href="/blog/comment-trong-c.html" --}}
                   href="/blog"
                  {{!-- href="https://fullstack.edu.vn/blog/comment-trong-c.html" --}}
                ><h2 class="PostItem_title__8lSHm">Comment trong C#</h2></a><p
                  class="PostItem_desc__be9G8"
                >Trong bài viết này chúng ta sẽ tìm hiều về chú thích (comment)
                  trong C#. Các kiểu chú thích khác nhau và tại sao ta phải sử
                  dụng...</p><div class="PostItem_info__DZr39"><a
                    class="PostItem_tags__0M1lV"
                    {{!-- href="/blog/tag/c?page=1" --}}
                     href="/blog"
                  >C#</a><span>một ngày trước</span><span
                    class="PostItem_dot__ZYdFt"
                  >·</span>2 phút đọc</div></div></div></div><div
            class="PostItem_wrapper__5s6Lk"
          ><div class="PostItem_header__kJhep"><div
                class="PostItem_author__-CiNM"
              ><a     href="/blog"><img
                    src="https://files.fullstack.edu.vn/f8-prod/user_photos/236100/62f9b538170d1.jpg"
                    alt="Thương Trịnh Hồ Diệu"
                  /></a><a     href="/blog"><span>Thương Trịnh Hồ Diệu</span></a></div><div
                class="PostItem_actions__eWV5m"
              ><div
                  class="Bookmark_toggleBtn__sSS-2 PostItem_optionBtn__h8ALw"
                ><svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="far"
                    data-icon="bookmark"
                    class="svg-inline--fa fa-bookmark"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 384 512"
                  ><path
                      fill="currentColor"
                      d="M336 0h-288C21.49 0 0 21.49 0 48v431.9c0 24.7 26.79 40.08 48.12 27.64L192 423.6l143.9 83.93C357.2 519.1 384 504.6 384 479.9V48C384 21.49 362.5 0 336 0zM336 452L192 368l-144 84V54C48 50.63 50.63 48 53.1 48h276C333.4 48 336 50.63 336 54V452z"
                    ></path></svg></div><div
                  class="PostItem_optionBtn__h8ALw"
                  aria-expanded="false"
                ><svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="ellipsis"
                    class="svg-inline--fa fa-ellipsis"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512"
                  ><path
                      fill="currentColor"
                      d="M120 256C120 286.9 94.93 312 64 312C33.07 312 8 286.9 8 256C8 225.1 33.07 200 64 200C94.93 200 120 225.1 120 256zM280 256C280 286.9 254.9 312 224 312C193.1 312 168 286.9 168 256C168 225.1 193.1 200 224 200C254.9 200 280 225.1 280 256zM328 256C328 225.1 353.1 200 384 200C414.9 200 440 225.1 440 256C440 286.9 414.9 312 384 312C353.1 312 328 286.9 328 256z"
                    ></path></svg></div></div></div><div
              class="PostItem_body__Fnfo-"
            ><div class="PostItem_info__DZr39"><a
                 href="/blog"
                ><h2 class="PostItem_title__8lSHm">Chuyện chàng phun tắc
                    Developer</h2></a><p
                  class="PostItem_desc__be9G8"
                >Anh&nbsp;Nhật Hoàng Codeaholiguy, còn được gọi tận thương là
                  Hoàng Hô. &nbsp;Không chỉ là một bờ lốc gơ, anh còn là diễn
                  giả kiêm streamer...</p><div class="PostItem_info__DZr39"><a
                    class="PostItem_tags__0M1lV"
                     href="/blog"
                  >FullStack </a><span>13 ngày trước</span><span
                    class="PostItem_dot__ZYdFt"
                  >·</span>11 phút đọc</div></div></div></div><div
            class="PostItem_wrapper__5s6Lk"
          ><div class="PostItem_header__kJhep"><div
                class="PostItem_author__-CiNM"
              ><a href="/@khang-ng"><img
                    src="https://files.fullstack.edu.vn/f8-prod/user_avatars/18810/631175d26916f.png"
                    alt="Hoài Khang"
                  /></a><a href="/@khang-ng"><span>Hoài Khang</span></a></div><div
                class="PostItem_actions__eWV5m"
              ><div
                  class="Bookmark_toggleBtn__sSS-2 PostItem_optionBtn__h8ALw"
                ><svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="far"
                    data-icon="bookmark"
                    class="svg-inline--fa fa-bookmark"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 384 512"
                  ><path
                      fill="currentColor"
                      d="M336 0h-288C21.49 0 0 21.49 0 48v431.9c0 24.7 26.79 40.08 48.12 27.64L192 423.6l143.9 83.93C357.2 519.1 384 504.6 384 479.9V48C384 21.49 362.5 0 336 0zM336 452L192 368l-144 84V54C48 50.63 50.63 48 53.1 48h276C333.4 48 336 50.63 336 54V452z"
                    ></path></svg></div><div
                  class="PostItem_optionBtn__h8ALw"
                  aria-expanded="false"
                ><svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="ellipsis"
                    class="svg-inline--fa fa-ellipsis"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512"
                  ><path
                      fill="currentColor"
                      d="M120 256C120 286.9 94.93 312 64 312C33.07 312 8 286.9 8 256C8 225.1 33.07 200 64 200C94.93 200 120 225.1 120 256zM280 256C280 286.9 254.9 312 224 312C193.1 312 168 286.9 168 256C168 225.1 193.1 200 224 200C254.9 200 280 225.1 280 256zM328 256C328 225.1 353.1 200 384 200C414.9 200 440 225.1 440 256C440 286.9 414.9 312 384 312C353.1 312 328 286.9 328 256z"
                    ></path></svg></div></div></div><div
              class="PostItem_body__Fnfo-"
            ><div class="PostItem_info__DZr39"><a
                  href="/blog"
                ><h2 class="PostItem_title__8lSHm">Trong Javascript cũng có
                    "Typescript" mà bấy lâu nay ta không biết</h2></a><p
                  class="PostItem_desc__be9G8"
                >Có thể tiêu đề sẽ gây hoang mang cho một số bạn chưa, mới hoặc
                  đã biết về Typescript (TS), chúng mình cùng bắt đầu bài viết
                  để...</p><div class="PostItem_info__DZr39"><a
                    class="PostItem_tags__0M1lV"
                     href="/blog"
                  >Javascript</a><span>một tháng trước</span><span
                    class="PostItem_dot__ZYdFt"
                  >·</span>1 phút đọc</div></div></div></div><div
            class="PostItem_wrapper__5s6Lk"
          ><div class="PostItem_header__kJhep"><div
                class="PostItem_author__-CiNM"
              ><a     href="/blog"><img
                    src="https://files.fullstack.edu.vn/f8-prod/user_photos/236100/62f9b538170d1.jpg"
                    alt="Thương Trịnh Hồ Diệu"
                  /></a><a     href="/blog"><span>Thương Trịnh Hồ Diệu</span></a></div><div
                class="PostItem_actions__eWV5m"
              ><div
                  class="Bookmark_toggleBtn__sSS-2 PostItem_optionBtn__h8ALw"
                ><svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="far"
                    data-icon="bookmark"
                    class="svg-inline--fa fa-bookmark"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 384 512"
                  ><path
                      fill="currentColor"
                      d="M336 0h-288C21.49 0 0 21.49 0 48v431.9c0 24.7 26.79 40.08 48.12 27.64L192 423.6l143.9 83.93C357.2 519.1 384 504.6 384 479.9V48C384 21.49 362.5 0 336 0zM336 452L192 368l-144 84V54C48 50.63 50.63 48 53.1 48h276C333.4 48 336 50.63 336 54V452z"
                    ></path></svg></div><div
                  class="PostItem_optionBtn__h8ALw"
                  aria-expanded="false"
                ><svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="ellipsis"
                    class="svg-inline--fa fa-ellipsis"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512"
                  ><path
                      fill="currentColor"
                      d="M120 256C120 286.9 94.93 312 64 312C33.07 312 8 286.9 8 256C8 225.1 33.07 200 64 200C94.93 200 120 225.1 120 256zM280 256C280 286.9 254.9 312 224 312C193.1 312 168 286.9 168 256C168 225.1 193.1 200 224 200C254.9 200 280 225.1 280 256zM328 256C328 225.1 353.1 200 384 200C414.9 200 440 225.1 440 256C440 286.9 414.9 312 384 312C353.1 312 328 286.9 328 256z"
                    ></path></svg></div></div></div><div
              class="PostItem_body__Fnfo-"
            ><div class="PostItem_info__DZr39"><a
                    href="/blog"
                ><h2 class="PostItem_title__8lSHm">So sánh JavaScript với những
                    đối thủ khác</h2></a><p class="PostItem_desc__be9G8">Trong
                  tương lai nếu bạn không nắm được JavaScript là gì thì khó mà
                  tiến xa được trong lĩnh vực công nghệ thông tin. Tin tốt...</p><div
                  class="PostItem_info__DZr39"
                ><a
                    class="PostItem_tags__0M1lV"
                    href="/blog"
                  >Javascript</a><span>một tháng trước</span><span
                    class="PostItem_dot__ZYdFt"
                  >·</span>4 phút đọc</div></div><div
                class="PostItem_thumb__m4iXl"
              ><a
                 href="/blog"
                ><img
                    src="https://files.fullstack.edu.vn/f8-prod/blog_posts/4598/6305ca717d756.png"
                    alt="So sánh JavaScript với những đối thủ khác"
                  /></a></div></div></div><div
            class="Blog_google-ads__FoDCI"
          ><div class=""><ins
                class="adsbygoogle"
                data-ad-client="ca-pub-8534763220079569"
                data-ad-slot="5151498521"
                data-ad-format="horizontal"
                data-full-width-responsive="true"
                style="display: block;"
              ></ins></div></div><div class="PostItem_wrapper__5s6Lk"><div
              class="PostItem_header__kJhep"
            ><div class="PostItem_author__-CiNM"><a
                   href="/blog"
                ><img
                    src="https://files.fullstack.edu.vn/f8-prod/user_photos/236100/62f9b538170d1.jpg"
                    alt="Thương Trịnh Hồ Diệu"
                  /></a><a     href="/blog"><span>Thương Trịnh Hồ Diệu</span></a></div><div
                class="PostItem_actions__eWV5m"
              ><div
                  class="Bookmark_toggleBtn__sSS-2 PostItem_optionBtn__h8ALw"
                ><svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="far"
                    data-icon="bookmark"
                    class="svg-inline--fa fa-bookmark"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 384 512"
                  ><path
                      fill="currentColor"
                      d="M336 0h-288C21.49 0 0 21.49 0 48v431.9c0 24.7 26.79 40.08 48.12 27.64L192 423.6l143.9 83.93C357.2 519.1 384 504.6 384 479.9V48C384 21.49 362.5 0 336 0zM336 452L192 368l-144 84V54C48 50.63 50.63 48 53.1 48h276C333.4 48 336 50.63 336 54V452z"
                    ></path></svg></div><div
                  class="PostItem_optionBtn__h8ALw"
                  aria-expanded="false"
                ><svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="ellipsis"
                    class="svg-inline--fa fa-ellipsis"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512"
                  ><path
                      fill="currentColor"
                      d="M120 256C120 286.9 94.93 312 64 312C33.07 312 8 286.9 8 256C8 225.1 33.07 200 64 200C94.93 200 120 225.1 120 256zM280 256C280 286.9 254.9 312 224 312C193.1 312 168 286.9 168 256C168 225.1 193.1 200 224 200C254.9 200 280 225.1 280 256zM328 256C328 225.1 353.1 200 384 200C414.9 200 440 225.1 440 256C440 286.9 414.9 312 384 312C353.1 312 328 286.9 328 256z"
                    ></path></svg></div></div></div><div
              class="PostItem_body__Fnfo-"
            ><div class="PostItem_info__DZr39"><a
                   href="/blog"
                ><h2 class="PostItem_title__8lSHm">Tự học thiết kế web dành cho
                    người mới</h2></a><p class="PostItem_desc__be9G8">Để tự học
                  thiết kế web hiệu quả thì các bạn cần phải học trước HTML CSS
                  JS và một chút Photoshop(để cắt hình ảnh, lấy mã màu….). Nó...</p><div
                  class="PostItem_info__DZr39"
                ><a
                    class="PostItem_tags__0M1lV"
                      href="/blog"
                  >website</a><span>2 tháng trước</span><span
                    class="PostItem_dot__ZYdFt"
                  >·</span>14 phút đọc</div></div></div></div><div
            class="PostItem_wrapper__5s6Lk"
          ><div class="PostItem_header__kJhep"><div
                class="PostItem_author__-CiNM"
              ><a href="/@oanh-doan"><img
                    src="https://files.fullstack.edu.vn/f8-prod/user_avatars/40053/6299bcec4292b.jpg"
                    alt="Đoàn Thị Kiều Oanh"
                  /></a><a     href="/blog"><span>Đoàn Thị Kiều Oanh</span></a></div><div
                class="PostItem_actions__eWV5m"
              ><div
                  class="Bookmark_toggleBtn__sSS-2 PostItem_optionBtn__h8ALw"
                ><svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="far"
                    data-icon="bookmark"
                    class="svg-inline--fa fa-bookmark"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 384 512"
                  ><path
                      fill="currentColor"
                      d="M336 0h-288C21.49 0 0 21.49 0 48v431.9c0 24.7 26.79 40.08 48.12 27.64L192 423.6l143.9 83.93C357.2 519.1 384 504.6 384 479.9V48C384 21.49 362.5 0 336 0zM336 452L192 368l-144 84V54C48 50.63 50.63 48 53.1 48h276C333.4 48 336 50.63 336 54V452z"
                    ></path></svg></div><div
                  class="PostItem_optionBtn__h8ALw"
                  aria-expanded="false"
                ><svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="ellipsis"
                    class="svg-inline--fa fa-ellipsis"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512"
                  ><path
                      fill="currentColor"
                      d="M120 256C120 286.9 94.93 312 64 312C33.07 312 8 286.9 8 256C8 225.1 33.07 200 64 200C94.93 200 120 225.1 120 256zM280 256C280 286.9 254.9 312 224 312C193.1 312 168 286.9 168 256C168 225.1 193.1 200 224 200C254.9 200 280 225.1 280 256zM328 256C328 225.1 353.1 200 384 200C414.9 200 440 225.1 440 256C440 286.9 414.9 312 384 312C353.1 312 328 286.9 328 256z"
                    ></path></svg></div></div></div><div
              class="PostItem_body__Fnfo-"
            ><div class="PostItem_info__DZr39"><a
                      href="/blog"
                ><h2 class="PostItem_title__8lSHm">Khang Trương - Từ chàng sinh viên
                    tới CEO của Khang-Education</h2></a><p class="PostItem_desc__be9G8">Khang
                  Trương, sinh năm 2001, hiện tại anh đang là CEO - Founder tại
                  công ty cổ phần công nghệ và giáo dục Khang-Education. Anh xuất thân là
                  lập...</p><div class="PostItem_info__DZr39"><span>2 tháng
                    trước</span><span class="PostItem_dot__ZYdFt">·</span>4 phút
                  đọc</div></div><div class="PostItem_thumb__m4iXl"><a
                    href="/blog"
                ><img
                    src="img/20220910_104309.jpg"
                    alt="Khang Trương - Từ chàng sinh viên tới CEO của Khang-Education"
                  /></a></div></div></div><div
            class="PostItem_wrapper__5s6Lk"
          ><div class="PostItem_header__kJhep"><div
                class="PostItem_author__-CiNM"
              ><a     href="/blog"><img
                    src="https://files.fullstack.edu.vn/f8-prod/user_avatars/26348/62f2f0038ccdd.png"
                    alt="Long Nguyen"
                  /></a><a     href="/blog"><span>Long Nguyen</span></a></div><div
                class="PostItem_actions__eWV5m"
              ><div
                  class="Bookmark_toggleBtn__sSS-2 PostItem_optionBtn__h8ALw"
                ><svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="far"
                    data-icon="bookmark"
                    class="svg-inline--fa fa-bookmark"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 384 512"
                  ><path
                      fill="currentColor"
                      d="M336 0h-288C21.49 0 0 21.49 0 48v431.9c0 24.7 26.79 40.08 48.12 27.64L192 423.6l143.9 83.93C357.2 519.1 384 504.6 384 479.9V48C384 21.49 362.5 0 336 0zM336 452L192 368l-144 84V54C48 50.63 50.63 48 53.1 48h276C333.4 48 336 50.63 336 54V452z"
                    ></path></svg></div><div
                  class="PostItem_optionBtn__h8ALw"
                  aria-expanded="false"
                ><svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="ellipsis"
                    class="svg-inline--fa fa-ellipsis"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512"
                  ><path
                      fill="currentColor"
                      d="M120 256C120 286.9 94.93 312 64 312C33.07 312 8 286.9 8 256C8 225.1 33.07 200 64 200C94.93 200 120 225.1 120 256zM280 256C280 286.9 254.9 312 224 312C193.1 312 168 286.9 168 256C168 225.1 193.1 200 224 200C254.9 200 280 225.1 280 256zM328 256C328 225.1 353.1 200 384 200C414.9 200 440 225.1 440 256C440 286.9 414.9 312 384 312C353.1 312 328 286.9 328 256z"
                    ></path></svg></div></div></div><div
              class="PostItem_body__Fnfo-"
            ><div class="PostItem_info__DZr39"><a
                      href="/blog"
                ><h2 class="PostItem_title__8lSHm">[Phần 1]Tổng quan về Git và
                    những câu lệnh cơ bản</h2></a><p
                  class="PostItem_desc__be9G8"
                >Xin chào mọi người, chúc mọi người một ngày cuối tuần vui vẻ.
                  Hôm này mình sẽ chia sẻ về Git một công cụ khá quen thuộc
                  với...</p><div class="PostItem_info__DZr39"><a
                    class="PostItem_tags__0M1lV"
                     href="/blog"
                  >Git</a><span>2 tháng trước</span><span
                    class="PostItem_dot__ZYdFt"
                  >·</span>5 phút đọc</div></div><div
                class="PostItem_thumb__m4iXl"
              ><a
                     href="/blog"
                ><img
                    src="https://files.fullstack.edu.vn/f8-prod/blog_posts/4384/62f2ef03aadc9.png"
                    alt="[Phần 1]Tổng quan về Git và những câu lệnh cơ bản"
                  /></a></div></div></div><div
            class="PostItem_wrapper__5s6Lk"
          ><div class="PostItem_header__kJhep"><div
                class="PostItem_author__-CiNM"
              ><a     href="/blog"><img
                    src="https://files.fullstack.edu.vn/f8-prod/user_avatars/178682/6336c07d17279.jpg"
                    alt="Lê Mạnh"
                  /></a><a     href="/blog"><span>Lê Mạnh</span></a></div><div
                class="PostItem_actions__eWV5m"
              ><div
                  class="Bookmark_toggleBtn__sSS-2 PostItem_optionBtn__h8ALw"
                ><svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="far"
                    data-icon="bookmark"
                    class="svg-inline--fa fa-bookmark"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 384 512"
                  ><path
                      fill="currentColor"
                      d="M336 0h-288C21.49 0 0 21.49 0 48v431.9c0 24.7 26.79 40.08 48.12 27.64L192 423.6l143.9 83.93C357.2 519.1 384 504.6 384 479.9V48C384 21.49 362.5 0 336 0zM336 452L192 368l-144 84V54C48 50.63 50.63 48 53.1 48h276C333.4 48 336 50.63 336 54V452z"
                    ></path></svg></div><div
                  class="PostItem_optionBtn__h8ALw"
                  aria-expanded="false"
                ><svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="ellipsis"
                    class="svg-inline--fa fa-ellipsis"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512"
                  ><path
                      fill="currentColor"
                      d="M120 256C120 286.9 94.93 312 64 312C33.07 312 8 286.9 8 256C8 225.1 33.07 200 64 200C94.93 200 120 225.1 120 256zM280 256C280 286.9 254.9 312 224 312C193.1 312 168 286.9 168 256C168 225.1 193.1 200 224 200C254.9 200 280 225.1 280 256zM328 256C328 225.1 353.1 200 384 200C414.9 200 440 225.1 440 256C440 286.9 414.9 312 384 312C353.1 312 328 286.9 328 256z"
                    ></path></svg></div></div></div><div
              class="PostItem_body__Fnfo-"
            ><div class="PostItem_info__DZr39"><a
                    href="/blog"
                ><h2 class="PostItem_title__8lSHm">LM Theme |&nbsp;Cách tạo
                    theme VSCode và Publish lên Marketplace</h2></a><p
                  class="PostItem_desc__be9G8"
                >Bài viết này là chỉnh sửa và cập nhật của bài viết...</p><div
                  class="PostItem_info__DZr39"
                ><a
                    class="PostItem_tags__0M1lV"
                href="/blog"
                  >Javascript</a><span>3 tháng trước</span><span
                    class="PostItem_dot__ZYdFt"
                  >·</span>7 phút đọc</div></div><div
                class="PostItem_thumb__m4iXl"
              ><a
                href="/blog"
                ><img
                    src="https://files.fullstack.edu.vn/f8-prod/blog_posts/3930/62b7ef8ce02a3.png"
                    alt="LM Theme |&nbsp;Cách tạo theme VSCode và Publish lên Marketplace"
                  /></a></div></div></div><div
            class="PostItem_wrapper__5s6Lk"
          ><div class="PostItem_header__kJhep"><div
                class="PostItem_author__-CiNM"
              ><a     href="/blog"><img
                    src="https://graph.facebook.com/368105254948968/picture?width=400&amp;height=400"
                    alt="Dũng Hồ"
                  /></a><a     href="/blog"><span>Dũng Hồ</span></a></div><div
                class="PostItem_actions__eWV5m"
              ><div
                  class="Bookmark_toggleBtn__sSS-2 PostItem_optionBtn__h8ALw"
                ><svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="far"
                    data-icon="bookmark"
                    class="svg-inline--fa fa-bookmark"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 384 512"
                  ><path
                      fill="currentColor"
                      d="M336 0h-288C21.49 0 0 21.49 0 48v431.9c0 24.7 26.79 40.08 48.12 27.64L192 423.6l143.9 83.93C357.2 519.1 384 504.6 384 479.9V48C384 21.49 362.5 0 336 0zM336 452L192 368l-144 84V54C48 50.63 50.63 48 53.1 48h276C333.4 48 336 50.63 336 54V452z"
                    ></path></svg></div><div
                  class="PostItem_optionBtn__h8ALw"
                  aria-expanded="false"
                ><svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="ellipsis"
                    class="svg-inline--fa fa-ellipsis"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512"
                  ><path
                      fill="currentColor"
                      d="M120 256C120 286.9 94.93 312 64 312C33.07 312 8 286.9 8 256C8 225.1 33.07 200 64 200C94.93 200 120 225.1 120 256zM280 256C280 286.9 254.9 312 224 312C193.1 312 168 286.9 168 256C168 225.1 193.1 200 224 200C254.9 200 280 225.1 280 256zM328 256C328 225.1 353.1 200 384 200C414.9 200 440 225.1 440 256C440 286.9 414.9 312 384 312C353.1 312 328 286.9 328 256z"
                    ></path></svg></div></div></div><div
              class="PostItem_body__Fnfo-"
            ><div class="PostItem_info__DZr39"><a
                     href="/blog"
                ><h2 class="PostItem_title__8lSHm">&nbsp;Setup Môi Trường Lập
                    Trình Nhanh Chóng Cho Desktop. Phần 2: Setup cho Windows</h2></a><p
                  class="PostItem_desc__be9G8"
                >Trong phần trước, mình đã cũng các bạn tìm hiểu về một cách
                  setup phần mềm nhanh gọn lẹ. Trong phần này, mình sẽ cùng các
                  bạn...</p><div class="PostItem_info__DZr39"><a
                    class="PostItem_tags__0M1lV"
                    href="/blog"
                  >Package Managers</a><span>3 tháng trước</span><span
                    class="PostItem_dot__ZYdFt"
                  >·</span>11 phút đọc</div></div><div
                class="PostItem_thumb__m4iXl"
              ><a
                      href="/blog"
                ><img
                    src="https://files.fullstack.edu.vn/f8-prod/blog_posts/3902/62b4776554eaf.png"
                    alt="&nbsp;Setup Môi Trường Lập Trình Nhanh Chóng Cho Desktop. Phần 2: Setup cho Windows"
                  /></a></div></div></div><div
            class="PostItem_wrapper__5s6Lk"
          ><div class="PostItem_header__kJhep"><div
                class="PostItem_author__-CiNM"
              ><a     href="/blog"><img
                    src="https://graph.facebook.com/368105254948968/picture?width=400&amp;height=400"
                    alt="Dũng Hồ"
                  /></a><a href="/@dung-ho-1"><span>Dũng Hồ</span></a></div><div
                class="PostItem_actions__eWV5m"
              ><div
                  class="Bookmark_toggleBtn__sSS-2 PostItem_optionBtn__h8ALw"
                ><svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="far"
                    data-icon="bookmark"
                    class="svg-inline--fa fa-bookmark"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 384 512"
                  ><path
                      fill="currentColor"
                      d="M336 0h-288C21.49 0 0 21.49 0 48v431.9c0 24.7 26.79 40.08 48.12 27.64L192 423.6l143.9 83.93C357.2 519.1 384 504.6 384 479.9V48C384 21.49 362.5 0 336 0zM336 452L192 368l-144 84V54C48 50.63 50.63 48 53.1 48h276C333.4 48 336 50.63 336 54V452z"
                    ></path></svg></div><div
                  class="PostItem_optionBtn__h8ALw"
                  aria-expanded="false"
                ><svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="ellipsis"
                    class="svg-inline--fa fa-ellipsis"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512"
                  ><path
                      fill="currentColor"
                      d="M120 256C120 286.9 94.93 312 64 312C33.07 312 8 286.9 8 256C8 225.1 33.07 200 64 200C94.93 200 120 225.1 120 256zM280 256C280 286.9 254.9 312 224 312C193.1 312 168 286.9 168 256C168 225.1 193.1 200 224 200C254.9 200 280 225.1 280 256zM328 256C328 225.1 353.1 200 384 200C414.9 200 440 225.1 440 256C440 286.9 414.9 312 384 312C353.1 312 328 286.9 328 256z"
                    ></path></svg></div></div></div><div
              class="PostItem_body__Fnfo-"
            ><div class="PostItem_info__DZr39"><a
                      href="/blog"
                ><h2 class="PostItem_title__8lSHm">Setup Môi Trường Lập Trình
                    Nhanh Chóng Cho Desktop. Phần 1: Lý thuyết</h2></a><p
                  class="PostItem_desc__be9G8"
                >Một ngày đẹp trời, bạn mới sắm cho mình một chiếc laptop hoặc
                  một bộ PC để tập trung theo đuổi công nghệ thông tin, theo
                  ngành...</p><div class="PostItem_info__DZr39"><a
                    class="PostItem_tags__0M1lV"
                      href="/blog"
                  >Package Managers</a><span>3 tháng trước</span><span
                    class="PostItem_dot__ZYdFt"
                  >·</span>6 phút đọc</div></div><div
                class="PostItem_thumb__m4iXl"
              ><a
                     href="/blog"
                ><img
                    src="https://files.fullstack.edu.vn/f8-prod/blog_posts/3900/62b4484da0c77.jpg"
                    alt="Setup Môi Trường Lập Trình Nhanh Chóng Cho Desktop. Phần 1: Lý thuyết"
                  /></a></div></div></div><div
            class="Pagination_wrapper__Rvhto"
          ><div class="Pagination_pages__FFgjW"><div
                class="Pagination_page__fm3g4 Pagination_disabled__1LE7y"
              ><svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fas"
                  data-icon="angles-left"
                  class="svg-inline--fa fa-angles-left Pagination_icon__rsM4G"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 448 512"
                ><path
                    fill="currentColor"
                    d="M77.25 256l137.4-137.4c12.5-12.5 12.5-32.75 0-45.25s-32.75-12.5-45.25 0l-160 160c-12.5 12.5-12.5 32.75 0 45.25l160 160C175.6 444.9 183.8 448 192 448s16.38-3.125 22.62-9.375c12.5-12.5 12.5-32.75 0-45.25L77.25 256zM269.3 256l137.4-137.4c12.5-12.5 12.5-32.75 0-45.25s-32.75-12.5-45.25 0l-160 160c-12.5 12.5-12.5 32.75 0 45.25l160 160C367.6 444.9 375.8 448 384 448s16.38-3.125 22.62-9.375c12.5-12.5 12.5-32.75 0-45.25L269.3 256z"
                  ></path></svg></div><div
                class="Pagination_page__fm3g4 Pagination_active__q3h4d"
              >1</div><div class="Pagination_page__fm3g4">2</div><div
                class="Pagination_page__fm3g4"
              >3</div><div class="Pagination_page__fm3g4">4</div><div
                class="Pagination_page__fm3g4"
              >5</div><div class="Pagination_page__fm3g4">6</div><div
                class="Pagination_page__fm3g4"
              >7</div><div class="Pagination_page__fm3g4">8</div><div
                class="Pagination_page__fm3g4"
              >9</div><div class="Pagination_page__fm3g4"><svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fas"
                  data-icon="angles-right"
                  class="svg-inline--fa fa-angles-right Pagination_icon__rsM4G"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 448 512"
                ><path
                    fill="currentColor"
                    d="M246.6 233.4l-160-160c-12.5-12.5-32.75-12.5-45.25 0s-12.5 32.75 0 45.25L178.8 256l-137.4 137.4c-12.5 12.5-12.5 32.75 0 45.25C47.63 444.9 55.81 448 64 448s16.38-3.125 22.62-9.375l160-160C259.1 266.1 259.1 245.9 246.6 233.4zM438.6 233.4l-160-160c-12.5-12.5-32.75-12.5-45.25 0s-12.5 32.75 0 45.25L370.8 256l-137.4 137.4c-12.5 12.5-12.5 32.75 0 45.25C239.6 444.9 247.8 448 256 448s16.38-3.125 22.62-9.375l160-160C451.1 266.1 451.1 245.9 438.6 233.4z"
                  ></path></svg></div></div></div></div></div></section><section
      {{!-- class="index-module_col__2EQm9 index-module_c-12__u7UXF index-module_m-12__2CxUL index-module_l-4__3tf5p"
    ><div class="TopicsList_wrapper__lizCe"><h3>Các chủ đề được đề xuất</h3><ul
          class="TopicsList_topics__EU6iM"
        ><li><a href="/blog/topic/front-end-mobile-apps">Front-end / Mobile apps</a></li><li
          ><a href="/blog/topic/back-end-devops">Back-end / Devops</a></li><li
          ><a href="/blog/topic/ui-ux-design">UI / UX / Design</a></li><li><a
              href="/blog/topic/others"
            >Others</a></li></ul></div> --}}

            <div
        class="Banners_wrapper__8fjJA Banners_sticky__7wV6o"
        style="--sticky:80px; --align:flex-start;"
      ><div
          class="Banners_content__+mAzY"
        ></div></div></section></section></div>


        </div>